<a href="https://colab.research.google.com/github/jedgarr99/Python/blob/master/ConectarASql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Conexión a SQL Server con Python y la librería PyODBC (CRUD)

##Paso 0: Crear una base de datos en Microsoft SQL Sever Management Studio

In [0]:
CREATE TABLE peliculas(

idPel int identity(1,1) primary key,

titulo VARCHAR(255) NOT NULL,

year SMALLINT NOT NULL

)

CREATE TABLE cines(

idCine int identity(1,1) primary key,

nombre VARCHAR(255) NOT NULL,

direc VARCHAR(255) NOT NULL,

)

CREATE TABLE pelicula_cines(

idPc int identity(1,1) primary key,

idPel int references peliculas,

idCine int references cines,

)

##Paso 2: Ahora maneja de los datos desde Python (CRUD).

Se debe conectar Python 3 a una base de datos de SQL Server a través del driver ODBC y la librería PyODBC.

**Pyodbc es un módulo de Python de código abierto que simplifica el acceso a las bases de datos ODBC desde Python, implementando el uso de la DB API 2.0 de una forma conveniente para Python.**

pyodbc también es considerado como un controlador SQL para Python.

Para instalar pyodbc se utiliza el instalador de paquetes de Python:

**pip install pyodbc**

Se puede comprobar que el módulo fue instalado de forma correcta importando el módulo con import:

##Paso 3: >>import pyodbc

Si no arroja ningún error, entonces el paquete fue instalado de forma correcta.

##Paso 4: hacer la conexión a la base de datos, crear un archivo bd.py

In [0]:
import pyodbc 

direccion_servidor = 'CC102-16\SA'
nombre_bd = 'baseCine'
nombre_usuario = 'sa'
password = 'adminadmin'
try:
    conexion = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + 
                              direccion_servidor+';DATABASE='+nombre_bd+';UID='+nombre_usuario+';PWD=' + password)
    print("\n"*2)
    print("conexión exitosa")
    
except Exception as e:
    print("Ocurrió un error al conectar a SQL Server: ", e)



##Paso 5: insertar los datos en las tablas 
##Paso 6: hacer querys

In [0]:
from bd import conexion

try:
    with conexion.cursor() as cursor:
        consulta = "INSERT INTO peliculas(titulo, year) VALUES (?, ?);"
        # Podemos llamar muchas veces a .execute con datos distintos
        cursor.execute(consulta, ("Volver al futuro 1", 1985))
        cursor.execute(consulta, ("Pulp Fiction", 1994))
        cursor.execute(consulta, ("It", 2017))
        cursor.execute(consulta, ("Ready Player One", 2018))
        cursor.execute(consulta, ("Spider-Man: un nuevo universo", 2018))
        cursor.execute(consulta, ("Avengers: Endgame", 2019))
        cursor.execute(consulta, ("John Wick 3: Parabellum", 2019))
        cursor.execute(consulta, ("Toy Story 4", 2019))
        cursor.execute(consulta, ("It 2", 2019))
        cursor.execute(consulta, ("Spider-Man: lejos de casa", 2019))

except Exception as e:
    print("Ocurrió un error al insertar: ", e)
#finally:
 #   conexion.close() 
try:
    with conexion.cursor() as cursor:
        consulta = "INSERT INTO cines(nombre, direc) VALUES (?, ?);"
        # Podemos llamar muchas veces a .execute con datos distintos
        cursor.execute(consulta, ("cinemex polanco", "polanco"))
        cursor.execute(consulta, ("cinemex loreto", "loreto"))
        cursor.execute(consulta, ("cinepolis san angel", "san angel"))
        cursor.execute(consulta, ("cinepolis pedregal", "pedregal"))
        
except Exception as e:
    print("Ocurrió un error al insertar: ", e)
#finally:
 #   conexion.close()
try:
    with conexion.cursor() as cursor:
        consulta = "INSERT INTO pelicula_cines(idPel, idCine) VALUES (?, ?);"
        # Podemos llamar muchas veces a .execute con datos distintos
        cursor.execute(consulta, (1,1))
        cursor.execute(consulta, (2,2))
        cursor.execute(consulta, (3,3))
        cursor.execute(consulta, (4,4))
        cursor.execute(consulta, (5,4))
        cursor.execute(consulta, (6,3))
        cursor.execute(consulta, (7,2))
        cursor.execute(consulta, (8,1))
        cursor.execute(consulta, (9,1))
        cursor.execute(consulta, (10,1))
        
except Exception as e:
    print("Ocurrió un error al insertar: ", e)
finally:
    conexion.close()

#CRUD
#Read
#seleccionar toda la información de la tabla películas
try:
    with conexion.cursor() as cursor:
        cursor.execute("select idPel, titulo, year from peliculas")
        peliculas = cursor.fetchall()
        for pelicula in peliculas:
            print(pelicula)
except Exception as e:
    print("Ocurrió un error al consultar peliculas: ", e)
finally:
    conexion.close
    
#uso where
#seleccionar todas las películas donde el año sea mayor a 2000
try:
    with conexion.cursor() as cursor:
        consulta = "select idPel, titulo, year from peliculas where year>?"
        cursor.execute(consulta,(2000))
        peliculas = cursor.fetchall()
        for pelicula in peliculas:
            print(pelicula)
except Exception as e:
    print("Ocurrió un error al consultar peliculas: ", e)
finally:
    conexion.close    
    
#where y like
#seleccionar todas las películas que tengan en el nombre las letras endg    
 try:
    with conexion.cursor() as cursor:
        consulta = "select idPel, titulo, year from peliculas where titulo like ?"
        palabra = "endg"
        cursor.execute(consulta,("%"+palabra+"%"))
        peliculas = cursor.fetchall()
        for pelicula in peliculas:
            print(pelicula)
except Exception as e:
    print("Ocurrió un error al consultar peliculas: ", e)
finally:
    conexion.close      
    
#uso del order by
#seleccionar toda la informacion del cine ordenado por precio de manera descendiente
try:
    with conexion.cursor() as cursor:
        cursor.execute("select * from cines order by precio desc")
        cines = cursor. fetchall()
        for c in cines:
            print(c)
except Exception as e:
    print("Ocurrió un error al consultar cines: ", e)
finally:
    conexion.close   
    
#where in
#seleccionar toda la informacion del cine que tenga como direccion polanco y pedregal    
try:
    with conexion.cursor() as cursor:
        consulta = "select * from cines where direc in (?,?)"
        cursor.execute(consulta,("polanco", "pedregal"))
        cines = cursor.fetchall()
        for c in cines:
            print(c)
except Exception as e:
    print("Ocurrió un error al consultar: ", e)
finally:
    conexion.close       
    
#CRUD
#update
try:
    with conexion.cursor() as cursor:
        consulta = "update peliculas set titulo = ? where idPel= ?"
        nuevoTitulo = "diego va al banco"
        idR = 2
        cursor.execute(consulta,(nuevoTitulo, idR))
        conexion.commit()
        
except Exception as e:
    print("Ocurrió un error al update: ", e)
finally:
    conexion.close   
    
#DELETE
try:
    with conexion.cursor() as cursor:
        consulta = "delete from pelicula_cines where idCine =?"
        idC = 2
        cursor.execute(consulta,(idC))
        #el commit es para que se realicen los cambios en la BD
        conexion.commit()
except Exception as e:
    print("Ocurrió un error al delete: ", e)
finally:
    conexion.close